/* Global Variables */
:root {
    /* Fonts */
    --header-font: 'Bowlby One SC', cursive;
    --main-font: 'Gothic A1', sans-serif;
    --code-font: 'Inconsolata', monospace;;

    /* Colors */
    --header-blue: rgb(4, 196, 255);
    --blue: rgb(28, 119, 255);
    --black: rgb(27, 24, 24);
    --white: rgb(247, 247, 247);
    --gray: rgb(170, 170, 170);
}

/* Apply a natural box layout model to all elements, 
but allowing components to change */
html {
    box-sizing: border-box;
}

*,
::before, 
::after {
    box-sizing: inherit;
}

/* Setup */
body {
    margin: 0;
    padding: 0;
    
    font-size: 1.2rem;
    line-height: 1.7;
    font-family: var(--main-font);
    
    color: var(--black);
    background-color: var(--white);
}

/* Grid Container */
.container {
    display: grid;
    grid-template-columns: 25% 73% 2%;
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
}

/* Header bar */
#main-header {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;

    border-radius: 10px;
    text-align: center;   
    font-size: 1.5rem;
    letter-spacing: 4px;
    font-family: var(--header-font);

    color: var(--black);
    background-color: var(--header-blue);
    border-bottom: 2px solid var(--black);

    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

#main-doc {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

#main-doc header {
    color: var(--blue);
    font-size: 1.5em;
    letter-spacing: 4px;
    font-family: var(--header-font);
}

section {
    border-bottom: 1px solid var(--blue);
    margin-bottom: 40px;
}

section article {
    margin: 15px;
}
  
section li {
    margin: 15px 0px 0px 20px;
}

code {
    display: block;
    text-align: left;
    white-space: pre;
    word-break: normal;
    word-wrap: break-word;
    line-height: 2;
    background-color: #a5ecf7;
    padding: 15px;
    margin: 10px;
    border-left: 3px solid black;

    letter-spacing: 2px;
    font-family: var(--code-font);
}

#navbar {
    grid-column: 1 / span 1;
    grid-row: 1 / -1;

    background-color: var(--gray);

    position: fixed;
    min-width: 25%;
    max-width: 25%;

    height: 100%;
    border-right: 1px solid black;
}

#navbar header {
    padding-top: 10px;
    margin: 0;

    text-align: center;   
    letter-spacing: 2px;
    font-size: 2.0rem;
    font-weight: 700;
    font-family: var(--main-font);
    
    color: var(--header-blue);
    background-color: rgb(49, 44, 44);
}

#navbar ul {
    height: 90%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
  
#navbar li {
    padding: 20px 10px;
    color: #4d4e53;
    border: 1px solid black;
    list-style: none;
}

#navbar li:hover {
    background-color: var(--header-blue);
    cursor: pointer;
}

#navbar a {
    display: block;
    text-decoration: none;
    color: var(--black);

    letter-spacing: 2px;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: var(--main-font);
}

/* Footer */
footer {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

footer p {
    text-align: right;
    font-family: var(--main-font);
    font-weight: 700;
}

/* Media Query */
@media only screen and (max-width: 900px) {
    #main-header {   
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 500px) {
    #main-header {   
        font-size: 0.75rem;
    }
}